/* mulish font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.text-tomato{
    color: #FF5400;
}
.description{
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
}
.btn-section{
    padding: 14px 35px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: 8px;
    background-color: #FF5400;
    border: none;
}
.section-title{
    margin: 0px;
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
/* header styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    display: flex;
}
.nav-title img{
    width: 48px;
    height: 56.008px;
    flex-shrink: 0;
    margin-top: 30px;
    padding-right: 15px;
}
.nav-title h3{
    font-size: 2.25rem;
    font-weight: 800;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 44px;
}
nav li a{
    text-decoration: none;
    font-size: 18px;
    color: #424247;
}
nav .fa-bars{
    position: absolute;
    display: none;
}
/* banner styles */
.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}
.banner-container {
    display: flex;
    text-align: center;
    padding: 100px 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-container p{
    color: #FFF;
}
.banner-title{
    margin: 0px;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}
.banner-btn{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    padding: 20px;
}
.banner-btn button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
}
.banner-btn .btn{
    text-align: left;
    background-color: #FFF;
    margin-right: 24px;
    padding-left: 16px;
}
.fa-chevron-down{
    padding-left: 40px;
}
.fa-magnifying-glass{
    padding-right: 20px;
}
.find-now{
    color: #FFF;
    background-color: #FF5400;
}
/* popular tours styles */
.popular-tours{
    margin-top: 100px;
    display: flex;
}
.popular-tours-detail{
    padding-right: 55px;
}
.popular-tours-detail > p{
    padding: 24px 0;
    margin: 0px;
}
.popular-tours-detail ul p{
    padding-bottom: 16px;
    margin: 0px;
}
/* destination section styles */
.destination-section{
    margin-top: 100px;
}
.destination-detail{
    text-align: center;
}
.destination-detail{
    padding-bottom: 24px;
}
.destination-img-container{
    display: grid;
    gap: 24px;
}
.destination-img-container img{
    padding-right: 23px;
}
/* choose card section */
.choose-cards-section {
    margin-top: 100px;
}
.choose-cards-detail{
    text-align: center;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.card{
    margin-top: 48px;
    border-radius: 16px;
    padding: 32px;
}
.hotels-card{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.service-card {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.guarantee-card{
    margin-left: 298px;
    align-items: center;
    width: 44%;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-top: 24px;
}
/* Deals & Discounts section */
.discounts-section{
    margin-top: 100px;
}
.discounts-title{
    text-align: center;
    margin-bottom: 48px;
}
.discounts-banner {
    background-image: url('../Images/Group\ 39.png');
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.discounts-banner2 {
    margin: 24px 0px;
    background-image: url('../Images/Group\ 40.png');
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.discounts-detail{
    width: 560px;
    height: 300px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px 77px 50px 50px;
    margin-right: 50px;
}
.discounts-detail2{
    width: 560px;
    height: 300px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px 77px 50px 50px;
    margin-left: 50px;
}
.discounts-icon{
    display: flex;
    gap: 24px;
}
.discounts-icon img{
    margin-right: 8px;
}
.discount-price{
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
}
#packages-btn{
    margin-top: 48px;
    margin-left: 480px;
}
/* place styles */
.place-section{
    display: flex;
    margin-top: 100px;
}
.place-content{
    margin-right: 28px;
}
.place-video-content{
    position: relative;
    width: 100%;
    display: flex;
}
.place-video-content h3{
    text-align: center;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 100px;
    z-index: 1;
}
.video-container{
    position: absolute;
}
.video-container video{
    border-radius: 16px;
}
.place-content .description{
    margin-top: 24px;
    margin-bottom: 24px;
}
.place-content li p{
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    gap: 16px;
}
.place-content .btn-section{
    margin-top: 30px;
}



/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 600px) {
    .banner-container,
    .banner-btn,
    .popular-tours
    {
        flex-direction: column;
    }
    .container{
        width: 335px;
        margin: 0px auto;
    }
    .nav-title h3{
        font-size: 2rem;
    }
    nav li{
        display: none;
    }
    nav .fa-bars{
        display: block;
        padding: 0px;
        margin: 0px;
    }
    .banner-btn{
        gap: 20px;
    }
    .banner-btn .btn{
        margin: 0px;
    }
    .section-title{
        font-size: 2rem;
    }
    .popular-tours-img img{
        width: 335px;
        height: 342px;
    }
    .popular-tours-detail{
        padding-right: 10px;
    }
    .popular-tours-detail .btn-section{
        margin-bottom: 24px;
    }
    .destination-img-container{
        gap: 0px;
    }
    .destination-img-container img{
        grid-template-columns: 1fr;
        width: 335px;
        height: 176px;
        margin-bottom: 16px;
        padding-right: 0px;
    }
    .cards-container{
        grid-template-columns: 1fr;
        gap: 0px;
    }
    .card{
        margin-top: 16px;
    }
    .guarantee-card{
        margin-left: 0px;
        width: 80%;
        margin-top: 16px;
    }
}
